<%= render 'shared/navigation' %>
<div class="panel panel-default">

  <div class="panel-heading">Editing Admin</div>
<%= form_for(@admin) do |f| %>
    <% if @admin.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

          <ul>
            <% @admin.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= flash[:notice] if flash[:notice]%>
    <br> </br>

    <div class="container">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="container">
      <%= f.label :email %><br>
      <%= f.text_field :email , :readonly => true %>
    </div>
    <div class="container">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="container">
      <%= f.label :new_password %><br>
      <%= f.password_field :new_password, :placeholder => 'Enter if you wish to change' %>
    </div>
      <br></br>
    <div class="container">
      <%= f.submit %>
    </div>
<% end %>

</div>


<a class="btn-primary btn-block" href="<%= @admin %>" >Show</a>
