<%= render 'shared/navigation' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<a class="btn btn-default btn-primary btn-block" href="<%= edit_admin_path(@admin) %>" >Edit</a>
