<html>
<body>

<h1> Hi <%= session[:name] %> </h1>

<br/>
<br/>
<%= flash[:notice] if flash[:notice]%>

<div>

  <h1>Your Courses:</h1>
  <form action='dispatcher' method='post'>
    <table>
      <thead>
      <tr>
        <th>Course</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% Enrollment.all.select { |x| x.student_id == session[:current_user_id] and x.status == 'ENROLLED'}.each do |c| %>
          <tr>
            <% @courseDetails = Course.find_by id: c.course_id%>
            <% @courseDetails = @courseDetails.courseNumber + ' '+ @courseDetails.title %>
            <td><%= @courseDetails %></td>
            <td><%= link_to 'Show Details', course_path(c.course_id) %></td>

            <td><%= link_to 'Drop Course', {controller: "enrollments", action: "destroy", id: c.id.to_s}, { :confirm => 'Are you sure to drop course?', :method => :delete, :remote => true} %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
    <button name = "enroll_student" type="submit" id="enroll_student-button">Enroll Into A Course</button>

  </form>

</div>

</body>
</html>

