<html>
<body>
<%= render 'shared/navigation' %>
<%= flash[:notice] if flash[:notice]%>
<div>
  <div class="panel panel-default">

    <div class="panel-heading">Your Messages:</div>

  <form action='new_message' method='post'>
    <table class="table">
      <thead>
      <tr>
        <th>Timestamp</th>
        <th>Instructor</th>
        <th>Message</th>
      </tr>
      </thead>

      <tbody>
      <% Message.all.select { |x| x.student_id == session[:current_user_id] and x.course_id.to_s == params[:cId].to_s }.each do |m| %>
          <tr>
            <td><%= m.created_at %></td>
            <td><%= Instructor.find(m.instructor_id).name %></td>
            <td><%= m.message %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
    <input id="tokenCourseId" name="tokenCourseId" type="hidden" value=<%=params[:cId]%> />
    <button class="btn btn-default btn-primary btn-lg" name = "new_message" type="submit" id="new_message-button">Create a new message</button>

  </form>

</div>
</div>
</body>
</html>

