<%= render 'shared/navigation' %>
<p id="notice"><%= notice %></p>
<div class="panel panel-default">

  <div class="panel-heading">Showing Student Details</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ol class="list-group">
          <li class="list-group-item">
            <p><strong>Name:</strong>
              <%= @student.name %></p>
          </li>
          <li class="list-group-item">
            <p><strong>Email:</strong>
              <%= @student.email %></p>
          </li>
        </ol>
      </div>
    </div>
  </div>

</div>
<a class="btn btn-lg btn-lg btn-block" href="<%= edit_student_path(@student) %>" >Edit</a>

