<h1>Editing Course Material</h1>
<%= puts "hihihihihi*****hiihihihi" %>
<%= puts params %>
<%= render 'form' %>

<%= link_to 'Show', @course_material %> |
<%= link_to 'Back', '/instructors/land/manage_course_material/' +
    @course_material.course_id.to_s +
    '/'+ @course_material.instructor_id.to_s %>
