<p id="notice"><%= notice %></p>

<h1>Pending Enrollments</h1>
<form action='enroll_student' method='post'>
<table>
  <thead>
  <tr>
    <th>Select All</th>
    <th>Name</th>
    <th>Email</th>
    <th colspan="10"></th>
  </tr>

  </thead>

  <tbody>
  <% Enrollment.all.select{|stu| stu.status == 'PENDING' and stu.course_id.to_s == params[:id].to_s}.each do |stu| %>
      <tr>
        <% st = Student.find_by_id(stu.student_id) %>

          <td><%= check_box_tag 'student_ids[]', st.id -%></td>
          <td><%= st.name -%></td>
          <td><%= st.email -%></td>

      </tr>
  <% end %>

  </tbody>


</table>
  <input id="tokenCourseId" name="tokenCourseId" type="hidden" value=<%=params[:id]%> />
<button name = "enroll" type="submit" id="enroll-button">Enroll Students</button>
</form>


<br>

<br/>


