<%= render 'shared/navigation' %>
<p id="notice"><%= notice %></p>
<div class="panel panel-default">

  <div class="panel-heading">Listing Instructors</div>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <!-- <th>Password</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.name %></td>
        <td><%= instructor.email %></td>
        <!--<td><%= instructor.password %></td> -->
        <!--<td><%= link_to 'Show', instructor %></td>-->
        <% if instructor.id == session[:current_user_id] and session[:user_type] == 'instructor' %>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <% end %>
        <td><%= link_to 'View Courses', '/instructors/land/view_courses/'+ instructor.id.to_s %></td>
        <td><%= link_to 'Destroy', '/instructors/land/destroy/'+ instructor.id.to_s, data: { confirm: 'Are you sure to delete?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<% if session[:user_type] == 'admin' %>
    <a class="btn btn-default btn-primary btn-block" href="<%= new_instructor_path %>" >New Instructor</a>
<% end %>
