<%= render 'shared/navigation' %>
<div class="panel panel-default">

  <div class="panel-heading">New Instructor</div>


<%= form_for(@instructor) do |f| %>
    <% if @instructor.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

          <ul>
            <% @instructor.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="container">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="container">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="container">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
      <br/>

    <div class="container">
      <%= f.submit %>
    </div>
<% end %>
</div>

