<%= render 'shared/navigation' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @enrollment.status %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
