<%= render 'shared/navigation' %>
<p id="notice"><%= notice %></p>

<div class="panel panel-default">

  <div class="panel-heading">Showing Course Details</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ol class="list-group">
          <li class="list-group-item">
            <p>
              <strong>Coursenumber:</strong>
              <%= @course.courseNumber %>
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>Title:</strong>
              <%= @course.title %>
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>Description:</strong>
              <%= @course.description %>
            </p>

          </li>
          <li class="list-group-item">
            <p>
              <strong>Instructor:</strong>
              <%= Instructor.find(@course.instructor_id).name %>
            </p>

          </li>
          <li class="list-group-item">
            <p>
              <strong>Startdate:</strong>
              <%= @course.startDate %>
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>Enddate:</strong>
              <%= @course.endDate %>
            </p>
          </li>
          <li class="list-group-item">
            <p>
              <strong>Status:</strong>
              <%= @course.status %>
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>

</div>

<a class="btn btn-default btn-primary btn-block" href="<%= edit_course_path(@course) %>" >Edit</a>

